
<div class="container mt-4">
  
        <!-- Buttons row -->
<div class="d-flex justify-content-center mb-4">
    <button (click)="setFilter('all')" class="btn btn-outline-primary mx-2">All Tasks</button>
    <button (click)="setFilter('active')" class="btn btn-outline-warning mx-2">Active Tasks</button>
    <button (click)="setFilter('completed')" class="btn btn-outline-success mx-2">Completed Tasks</button>
  </div>
  
  <!-- Stats row -->
  <div class="row mb-4" *ngIf="tasks.length >= 0">
    <div class="col-md-6 offset-md-3 text-center">
      <h4>Task Statistics</h4>
      <p>Total Tasks: {{ allTask.length }}</p>
      <p>Tasks Remaining: {{ tasksRemaining }}</p>
      <p>Completed Tasks: {{ completedTasks }}</p>
    </div>
  </div>
  
        
      
        <div class="row">
          <div *ngFor="let task of tasks" class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">
                  <span *ngIf="!task.isEditing" (click)="task.isEditing = true">{{ task.description }}</span>
                  <input 
                    *ngIf="task.isEditing" 
                    [(ngModel)]="task.description" 
                    class="form-control" 
                    (blur)="updateDescription(task)" 
                    (keyup.enter)="updateDescription(task)" 
                  />
                </h5>
                
                <p class="card-text text-muted">Task ID: {{ task.id }}</p>
                <p class="cart-text text-muted">Date Created: {{task.createdAt}}</p>
      
                <div class="form-check form-switch">
                  <input 
                    type="checkbox" 
                    [(ngModel)]="task.isCompleted" 
                    class="form-check-input" 
                    [checked]="task.isCompleted" 
                    (click)="updateTaskCompletion(task.id)"
                  >
                  <label class="form-check-label">Completed</label>
                </div>
                
                <button *ngIf="!task.isEditing" class="btn btn-outline-secondary btn-sm" (click)="editTask(task)">
                  Edit
                </button>
                <button type="button" class="btn btn-danger" (click)="deleteTask(tasks)">
                  Delete
                </button>
              </div>
            </div>
          </div>
         
        </div>
      </div>
      